  <!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
  
    <!-- Section: Links  -->
    <section>
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4 ">
            <div class="logotype">
              <img src="../../../assets/svg/logotype.svg "> 
            </div>
          </div>

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase fw-bold mb-4">
                  Social
                </h6>
                <!-- Content -->
                <div class="row mt-3">
                    <div class="icon" id="facebook">
                      <img src="../../../assets/svg/facebook.svg "> 
                    </div>
                    <div class="icon">
                      <img src="../../../assets/svg/instagram.svg "> 
                    </div>
                    <div class="icon">
                      <img src="../../../assets/svg/twitter.svg "> 
                    </div>
                </div>
            </div>
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Products
            </h6>
            <p>
              <a [routerLink]="[]" class="text-reset">Settings</a>
            </p>
            <p>
              <a [routerLink]="[]" class="text-reset">Help</a>
            </p>
            <p>
              <a [routerLink]="[]" class="text-reset">About Us</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Contact
            </h6>
            <p><i class="fas fa-home me-3"></i> New York, NY 10012, US</p>
            <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
            <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  </footer>
  <!-- Footer -->