  @import "../../../assets/variables/variables.scss";

.colour div{
  color: $orange;
  margin-top: 10px;
}

h6 {
  color: $orange;
}

.logotype {
  width: 180px;
}

section {
  background-color: $black;
  color: $white;
}

section div div {
 padding-top: 10px;
}

.icon {
  margin-top: 20px;
  margin-right: 10%;
}

#facebook {
  margin-left: 10%;
}