<nav>
    <!-- website logo and link to homepage -->
    <div class="logotype">
        <a [routerLink]="['/']">
            <img src="../../../assets/svg/logotype.svg" alt="link to homepage" title="logotype">
        </a>
    </div>
    <!-- left menu option -->
    <div class="left">
        <ul>
            <li><a [routerLink]="[]">Films</a></li>
            <li><a [routerLink]="[]">Series</a></li>
            <li><a [routerLink]="['/favorites']">My List</a></li>
        </ul>
        <!-- only max-width 768px -->
        <ul class="option">
            <li>
                <a [routerLink]="[]" (click)="dropdown()">Dropdown</a>
                <ul *ngIf="showD">
                    <li><a [routerLink]="[]">Films</a></li>
                    <li><a [routerLink]="[]">Series</a></li>
                    <li><a [routerLink]="['/favorites']">My List</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- right menu option search and user option -->
    <div class="right">
        <ul>
            <app-searchbar></app-searchbar>
            <li>
                <span (click)="toggle()">
                    <img src="../../../assets/svg/user.svg" alt="option profile" title="user">
                </span>
                <ul class="profile" *ngIf="show">
                    <li><a [routerLink]="[]">Person</a></li>
                    <li><a [routerLink]="[]">Person</a></li>
                    <li><a [routerLink]="[]">Manage Profiles</a></li>
                    <li><a [routerLink]="[]">Account</a></li>
                    <li><a [routerLink]="[]">Help Center</a></li>
                    <li><a [routerLink]="['/login']"><button onclick="handleLogOut()">Sign out</button></a></li>
                </ul>
            </li>   
        </ul>
    </div>
</nav>