@import "../../../assets/variables/variables.scss";


@mixin flex {
    width: calc(100% / 2);
}

.logotype {
    width: 65px;
    img {
        width: 65px;
    }
}

nav {
    display: flex;
    padding: 40px;
    width: 100%;
    font-size: 1.2rem;
    .left {
        @include flex;

        // list min-width: 768px display: inline;
        > ul:first-child {
            padding: 20px;

            > li {
                display: inline;
                margin-right: 20px;
            }
        }

        // list menu media query max-width: 768px
        > ul.option {
            display: none;
    
            > li {
                //margin: 5px 10px;
                display: block;
                position: relative;
                
                > ul {
                    margin-top: 20px;
                    border: 1px solid $orange;
                    border-radius: 10px;

                    li {
                        list-style-type: none;
                    }
    
                    &::before {
                        display: inline-block;
                        content: '';
                        width: 10px;
                        height: 10px;
                        position: absolute;
                        left: 50px;
                        top: 44px;
                        border-left: 8px solid transparent;
                        border-right: 8px solid transparent;
                        border-bottom: 10px solid $orange;
        
                    }
                }
            }
        }
    }

    .right {
        @include flex;
        text-align: end;

        // custom image user
        img[title="user"] {
            width: 30px;
        }

        > ul {
            display: flex;
            padding-top: 20px;
            justify-content: end;
        }

        > ul li {
            display: inline;
            margin-right: 40px;
            text-decoration: none;

            // option user
            > ul.profile {
                background: rgba(0, 0, 0, .7);
                border: 1px solid $orange;
                border-radius: 10px;
                position: absolute;
                right: 65px;
                text-align: justify;
                top: 110px;
                border: 1px solid $orange;
                border-radius: 10px;
                z-index: 9999;
                // custom signup
                li a button {
                    background: none;
                    border: none;
                    color: $orange;
                    position: relative;
                    margin-top: 10px;
                    &:after {
                        background: orange;
                        content: "";
                        display: inline-block;
                        height: 1px;
                        left: 0;
                        position: absolute;
                        top: -5px;
                        width: 120px;
                    }
                }
            }
            
            > ul li {
                display: block;
                font-size: 16px;
                text-decoration: none;
                margin: 10px 10px;
            }
            // design trinagolo
            ul:before {
                display: inline-block;
                content: '';
                width: 10px;
                height: 10px;
                position: absolute;
                right: 20px;
                top: -10px;
                border-left: 8px solid transparent;
                border-right: 8px solid transparent;
                border-bottom: 10px solid $orange;
            }
        }
    }
}

.slider-comp-wrapper {
    height: 50%;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
    overflow: hidden;
}

.slider-comp-wrapper:first-of-type {
    height: 400px;
    width: 100%;
    // padding-bottom: 300px;
}

// .swiper-slide si trova nel file style.scss

// responsive 768 width
@media only screen and (max-width: 768px) {

    nav {
        .left {
            position: relative;
    
            > ul:first-child {
                display: none;
            }
    
            > ul.option {
                display: block;
                margin: 12px 10px;

                li {
                    padding: 5px 20px;
                    width: 200px;

                    ul {
                        background: rgba(0, 0, 0, .5);
                    }
                }
            }
    
        }
    }
}

@media only screen and (max-width: 425px) { 
    nav{
        .right {
            > ul li {
                margin-right: 10px;
                ul.profile {
                    right: 35px;
                }
            }
        }
    }
}