<div class="search">
  <form #f="ngForm">
    <input name="search" type="search" [(ngModel)]="search" #s="ngModel" placeholder="Search" aria-label="Search">
    <button type="button" (click)="handleSubmit(f)" type="submit" [routerLink]="['/searched-titles']">
      <img src="../../../assets/svg/search.svg" alt="" title="search">
    </button>
  </form>
</div>

