@import '../../../assets/variables/variables.scss';
form {
    width: 80%;
    display: inline-block;
    margin-right: 30px;

    input[name="search"] {
        background: none;
        border: 1px solid $orange;
        border-radius: 10px;
        color: $white;
        display: inline-block;
        margin-right: 10px;
        padding: 5px 10px;
        width: 80%;
        &::placeholder {
            color: $white;
        }
    }

    button {
        background: none;
        border: none;

        img[title="search"] {
            width: 20px;
        }
    }
}