<app-navbar></app-navbar>
<ul>
    <li *ngFor="let title of favTitles$ | async" [title]="title">
        <a [routerLink]="['/movie-detail/', title.id]">
            <img [src]="title.image" alt="Immagine del film scelto">
        </a>
        <p>{{ title.title }}</p>
    </li>
</ul>
<app-footer></app-footer>