@import "../../../assets/variables/variables.scss";

.wrp-img > a img {
    height: 500px;
}

body {
    background-color: $black;
}

.details {
   margin: 9% ;
   margin-top: 3%;
   display: flex;
   flex-direction: row;
}

.wrapper {
    background: #3d3d3d;
    border-radius: 12px;
    margin: 0 auto;
    width: 80%;
}

.wrp-txt {
    margin-top: 14px;
    margin-left: 6%;
    margin-right: 6%;
    color: $white;
}

.wrp-img {
    margin: 2%;
}

.icons {
    margin: 20px 0;

    span {
        color: $white;
        margin-right: 20px;
        cursor: pointer;
    
        img {
            width: 40px;
        }

        &:last-child {
            border: 1px solid orange;
            border-radius: 10px;
            box-shadow: 5px 5px 10px black;
            margin-left: 108px;
            padding: 10px 20px;
            &:hover {
                background: $orange;
                color: $white;
            }
        }
    }

}

.wrp-txt h3 {
    margin-top: 4px;
    font-size: 30px;
}

.wrp-txt h1 {
    font-size: 60px;
}

.wrp-txt p {
    font-size: 22px;
    margin-top: 56px;
    height: 200px;
    overflow: auto;
    padding-right: 10px;
}

// custom scrollbar insite p
/* width */
.wrp-txt p::-webkit-scrollbar {
    width: 8px;
}

/* Track */
.wrp-txt p::-webkit-scrollbar-track {
    background: none; 
}
       
/* Handle */
.wrp-txt p::-webkit-scrollbar-thumb {
    background: rgba($black, .5); 
}
      
/* Handle on hover */
.wrp-txt p::-webkit-scrollbar-thumb:hover {
    background: $black;
}

.wrp-txt div {
    margin-top: 30px;
}



