<app-navbar></app-navbar>
<div class="wrapper">
    <div class="details">
        <div class="wrp-img">
            <a [routerLink]="['/movie/', title.id]"><img [src]="title.image" alt=""></a>
            <div class="icons">
                <span [routerLink]="['/movie/', title.id]">
                    <img src="../../../assets/svg/playlist-1.svg" alt="">
                </span>
                <span (click)="setFavTitle(title.favorite, title.id)">
                    <img src="../../../assets/svg/plus.svg" alt="">
                </span>
                <span [routerLink]="['/']">Back</span>
            </div>
        </div>
        <div class="wrp-txt">
            <h1>{{ title.title }}</h1>
            <div>
                <h3>Year: {{ title.year }}</h3>
                <h3>Genere: {{ title.genres }}</h3>
                <h3>Durata: {{ title.runtimeMins }}min</h3> 
            </div>
            <p>{{ title.plot }}</p>
        </div>
    </div>
</div>
<swiper
    [slidesPerView]="3"
    [centeredSlides]="true"
    [spaceBetween]="30"
    [slidesPerGroup]="1"
    [loop]="true"
    [loopedSlides]="9"
    [navigation]="true"
    class="mySwiper"
>
    <ng-template swiperSlide *ngFor="let title of title.similars">
        <a [routerLink]="['/movie-detail/', title.id]">
            <img [src]="title.image" alt="Film o serie consigliata">
        </a>
    </ng-template>
</swiper>
<app-footer></app-footer>