<app-navbar></app-navbar>
<main>
    <div class="mainSlider">
        <ngb-carousel>
            <ng-template ngbSlide [pauseOnHover]="pauseOnHover" [pauseOnFocus]="pauseOnFocus" (slide)="onSlide($event)">
                <div class="picsum-img-wrapper">
                    <img src="../../../assets/img/batman.jpeg" alt="Random first slide">
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <img src="../../../assets/img/joker.png" alt="Random second slide">
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <img src="../../../assets/img/avengers.jpg" alt="Random third slide">
                </div>
            </ng-template>
        </ngb-carousel>
    </div>
</main>
<div class="slider-comp-wrapper">
    <app-movie-list [genre]="'sadism'"></app-movie-list>   
</div>
<div class="slider-comp-wrapper">
    <app-movie-list [genre]="'action-hero'"></app-movie-list>
</div>
<div class="slider-comp-wrapper">
    <app-movie-list [genre]="'adventurer'"></app-movie-list>
</div>
<div class="slider-comp-wrapper">
    <app-movie-list [genre]="'marvel-comics'"></app-movie-list>
</div>
<div class="slider-comp-wrapper">
    <app-movie-list [genre]="'musical-scene'"></app-movie-list>
</div> 
<app-footer></app-footer>
