main {
    height: 80vh;
}
.mainSlider {
    height: 100vh;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

.picsum-img-wrapper {
    height: 100vh;
    img {
        height: 100%;
        object-fit: cover;
        width: 100%;
    }
}