@import "../../../assets/variables/variables.scss";
 
footer  div {
  height: 50px;
  background-color: $black;
  color: $white;
  display: flex;
  justify-content: space-between;
}

.logotype {
  width: 50px;
  margin-left: 10px;
}

.list p {
  margin-left: -13%;
  margin-top: 10px;
  margin-right: 10px;
}