<!-- Footer -->
<footer >
  <div>
    <div class="logotype">
      <img src="../../../assets/svg/logotype.svg ">
    </div>
    <div class="list">
      <p>
        <a [routerLink]="[]">Settings</a>
      </p>
      <p>
        <a [routerLink]="[]">Help</a>
      </p>
      <p>
        <a [routerLink]="[]">Contacts</a>
      </p>
    </div>
  </div> 
</footer>
