<app-navbar></app-navbar>
<ul>
    <li *ngFor="let movie of movies$ | async" [title]="movie">
        <a [routerLink]="['/movie-detail/', movie.id]">
            <img [src]="movie.image" alt="Immagine del film scelto">
        </a>
        <p>{{ movie.title }}</p>
    </li>
</ul>
<app-footer></app-footer>