ul {
    color: orange;
    margin: 20px auto;
    width: 90%;

    li {
        margin: 10px;
        height: 380px;
        display: inline-flex;
        flex-direction: column;
        align-content: center;
        flex-wrap: nowrap;
        width: 236px;
        object-fit: contain;

        img {
            height: 100%;
            width: 100%;
        }
    }
    
    .wrapperImage {
        box-shadow: 5px 5px 15px black;
        margin-bottom: 20px;
        height: 440px;
        overflow: hidden;
        width: 100%;
    }
}