/* Variables */
$h1: 6vw;
$width: 40%;


/* color-variables */
$black: #000;
$orange: #FF9E19;
$white: #fff;
$body: #212121;

// scss colors-map
$color: (
    "black": $black,
    "orange": $orange,
    "white": $white,
)