<div class="conatiner">
	<div class="bgImage"><!-- background image --></div>
	<div class="col-12">
		<div class="wrapper">
			<h1>login</h1>
		</div>
	</div>
	<!-- logotype img -->
	<div class="col-12">
		<div class="wrapper">
			<div class="logotype">
				<img src="../../../assets/svg/logotype.svg" alt="">
			</div>
		</div>
	</div>
	<!-- form -->
	<div class="col-12">
		<div class="wrapper">
			<form (ngSubmit)="handleSubmit(f)" #f="ngForm">
				<!-- email -->
				<div class="email">
					<input type="email" name="email" placeholder="Email" [(ngModel)]="email" #e="ngModel" appProhibited="admin@gmail.com" pattern="^[a-z0-9.]+@[a-z]+\.[a-z]{2,7}$" required email>					<!-- <div class="textEmail">Indirizzo Email</div> -->
					<div *ngIf="(e.touched || f.submitted) && e.invalid">
						<small class="text-danger" *ngIf="e.hasError('required')">Email is required.</small>
						<small class="text-danger" *ngIf="e.hasError('pattern')">This email format is invalid.</small>
						<small class="text-danger" *ngIf="e.hasError('appProhibited')">This email name is not permitted.</small>
				 	</div>
				</div>
				<!-- password -->
				<div class="password">
					<input [type]="passType" name="password" placeholder="Password" [(ngModel)]="password" #p="ngModel" required password minlength="8">
			        <span class="eye" (click)="handlePassword()">
						<img [src]="eye">
					</span>
					<div *ngIf="(p.touched || f.submitted) && p.invalid">
						<small class="text-danger" *ngIf="p.hasError('required')">Password is required.</small>
					</div>
				</div>
				<!-- login button -->
				<div class="button">
					<button><a (click)="handleSubmit(f)" [routerLink]="['/']">Login</a></button>
				</div>
			</form>
			<div class="forgot"><a>Forgot password? Recover it here. </a></div>
			<div class="newAccount">
				<a [routerLink]="['/signup']">Don't have an account? Sign up here.</a>
			</div>
		</div>
	</div>
</div>
<app-login-footer></app-login-footer>
