@import "../../../assets/variables/variables.scss";

/* more classes include the same specifics things */
@mixin input {
    background: none;
    border: none;
    color: $white;
    height: 100%;
    margin-left: 10px;
    outline: none;
}
/* end */

a:hover {
    color: $orange;
    text-decoration: none;
}

// image background 100vh
.bgImage {
    background-image: url('../../../assets/img/background.jpeg');
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    height: 100vh;
    position: absolute;
    top: 0;
    opacity: 20%;
    width: 100%;
}

// custom form
form {
    margin: 33px auto;
    width: 80%;

    // div class login
    .button {
        margin: 0 auto;
        text-align: end;
        width: $width;
        // button login
        button {
            color: $white;
            background: none;
            border: 1px solid $orange;
            border-radius: 10px;
            padding: 10px 20px;
            &:hover {
                background: $orange;
            }
            &:hover a {
                color: $white;
            }
        }
    }

    // div class email and password
    .email, .password {
        border: 1px solid $orange;
        border-radius: 10px;
        height: 50px;
        margin: 40px auto;
        position: relative;
        width: $width;
    }

    // icon eye input password
    .eye {
        display: inline-block;
        text-align: end;
        width: 20%;
        img {
            width: 20px;
        }
    }

    // input email
    input[type="email"] {
        @include input;
        width: 80%;
    }
    // input password
    input[type="password"], input[type="text"] {
        @include input;
        width: 70%;
    }
    
    // placeholder input
    ::placeholder {
        color: $orange;
    }
}    

h1 {
    color: $orange;
    font-size: $h1;
    margin: 60px auto;
    text-align: center;
    text-transform: uppercase;
}

// Flick logotype
.logotype {
    text-align: center;

    img {
        width: 205px;
    }
}

.wrapper {
    width: 100%;

    // div class forgot password
    .forgot {
        color: $orange;
        margin: 0 auto;
        text-align: end;
        width: 35%;
    }

    // link create new account
    .newAccount {
        color: $orange;
        font-size: 2vw;
        margin: 40px auto 0;
        text-align: center;
        width: $width;
    }
    // link a
}

/* media query max 425 pixel */
@media only screen and (max-width: 768px) {
    .newAccount a {
        font-size: 3vw;
    }
}

@media only screen and (max-width: 425px) {
    .email, .password {
        width: 90%;
    }
    .wrapper .newAccount {
        width: 100%;
        
        a {
            font-size: 4vw;
        }
    }
}