<swiper
  [slidesPerView]="3"
  [centeredSlides]="true"
  [spaceBetween]="30"
  [slidesPerGroup]="1"
  [loop]="true"
  [loopedSlides]="9"
  [navigation]="true"
  class="mySwiper"
>
<ng-template swiperSlide *ngFor="let title of titles">
  <a [routerLink]="['/movie-detail/', title.id]">
    <img [src]="title.image">
  </a>
</ng-template>
</swiper>