<app-navbar></app-navbar>
<video width="100%" height="100%" controls>
    <source type="video/webm" [src]="trailer.linkEmbed">
    <source type="video/mp4" [src]="trailer.linkEmbed">
</video>
<app-footer></app-footer>