@import "../../../assets/variables/variables.scss";

/* more classes include the same specifics things */
@mixin input {
    background: none;
    border: none;
    color: $white;
    height: 100%;
    margin-left: 10px;
    outline: none;
}
/* end */

a {
    text-decoration: none;
    color: $orange;
}


// image background 100vh
.bgImage {
    background-image: url('../../../assets/img/background.jpeg');
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    height: 100vh;
    position: absolute;
    top: 0;
    width: 100%;
    opacity: 20%;
}

// custom form
form {
    width: 80%;
    margin: 33px auto;

    // div class login
    .button {
        margin: 0 auto;
        width: $width;
        text-align: end;
        // button login
        button {
            background: none;
            border: 1px solid $orange;
            padding: 10px 20px;
            color: $white;
            border-radius: 10px;
            &:hover {
                background: $orange;
            }
        }
    }

    // div class email and password
    .email, .password {
        border: 1px solid $orange;
        border-radius: 10px;
        position: relative;
        margin: 40px auto;
        height: 50px;
        width: $width;
    }

    // icon eye input password
    .eye {
        display: inline-block;
        width: 20%;
        text-align: end;
        // padding-right: 10px;
        img {
            width: 20px;
        }
    }

    // input email
    input[type="email"] {
        @include input;
        width: 100%;
    }
    // input password
    input[type="password"], input[type="text"] {
        @include input;
        width: 70%;
    }

    // when autocompile input form
    input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus, 
    input:-webkit-autofill:active  {
        -webkit-transition: background-color 5000s;
        transition: background-color 5000s;
        -webkit-text-fill-color: $white;
    }

    // placeholder input
    ::placeholder {
        color: $orange;
    }
}    

h1 {
    color: $orange;
    font-size: $h1;
    margin: 60px auto;
    text-align: center;
    text-transform: uppercase;
}

// Flick logotype
.logotype {
    text-align: center;

    img {
        width: 205px;
    }
}

.wrapper {
    width: 100%;

    // div class forgot password
    .forgot {
        width: 35%;
        margin: 0 auto;
        text-align: end;
        // link a
    }

    // link create new account
    .newAccount {
        color: $orange;
        font-size: 2vw;
        margin: 40px auto 0;
        text-align: center;
        width: $width;
    }
    // link a
}

/* media query max 425 pixel */
@media only screen and (max-width: 425px) {
    .email, .password {
        width: 90%;
    }
}