<div class="conatiner">
	<!-- background image -->
	<div class="bgImage"></div>
	<div class="col-12">
		<div class="wrapper">
			<h1>sign up</h1>
		</div>
	</div>
	<!-- logotype img -->
	<div class="col-12">
		<div class="wrapper">
			<div class="logotype">
				<img src="../../../assets/svg/logotype.svg" alt="logotype">
			</div>
		</div>
	</div>
	<!-- form -->
	<div class="col-12">
		<div class="wrapper">
			<form #f="ngForm">
				<div class="email">
					<input type="email" name="email" placeholder="Email" [(ngModel)]="email" #e="ngModel" appProhibited="admin@gmail.com" pattern="^[a-z0-9.]+@[a-z]+\.[a-z]{2,7}$" required email>
					<div *ngIf="(e.touched || f.submitted) && e.invalid">
						<small class="text-danger" *ngIf="e.hasError('required')">Email is required.</small>
						<small class="text-danger" *ngIf="e.hasError('pattern')">This email format is invalid.</small>
						<small class="text-danger" *ngIf="e.hasError('appProhibited')">This email name is not permitted.</small>
				 	</div>
				</div>
				<div class="password">
					<input [type]="passType" name="password" placeholder="Password" [(ngModel)]="password" #p="ngModel" required password minlength="8">
					<span class="eye" (click)="handlePassword()">
						<img [src]="eye">
					</span>
					<div *ngIf="(p.touched || f.submitted) && p.invalid">
						<small class="text-danger" *ngIf="p.hasError('required')">Password is required.</small>
						<small class="text-danger" *ngIf="p.hasError('minlength')">Your password has to be at least 8 characters.</small>
					</div>
				</div>
				<div class="button">
					<a><button [routerLink]="['/login']">Sign Up</button></a>
				</div>
			</form>
			<div class="newAccount">
				<a>Welcome to Flik!</a>
			</div>
		</div>
	</div>
</div>
