
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$flik-primary: mat.define-palette(mat.$indigo-palette);
$flik-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$flik-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$flik-theme: mat.define-light-theme((
  color: (
    primary: $flik-primary,
    accent: $flik-accent,
    warn: $flik-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($flik-theme);

/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600&display=swap');

@import '../src/assets/variables/variables.scss';

*, *:after, *:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
    background: $orange;
    color: $white;
}

body {
    font-family: 'Outfit', sans-serif;
    background: $body;
}

// Custom tag a in the all pages
a {
    text-decoration: none;
    color: $orange;
    &:hover {
        color: $orange;
        text-decoration: none;
    }
}

body {
    font-family: 'Outfit', sans-serif;
    background: #212121;
}

// Change to circle main slider
.carousel-indicators li {
    border-radius: 50%!important;
    height: 15px!important;
    width: 15px!important;
}

.swiper-slide {
    box-shadow: 10px 10px 12px black;
    height: 380px !important;
    width: 260px !important;

    // &:hover {
    //     width: 500px!important;
    //     box-shadow: 10px 10px 12px black;
    // }
}

// when autocompile input form
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-transition: background-color 5000s;
    transition: background-color 5000s;
    -webkit-text-fill-color: $white;
}

input {
    outline: none;
}

main .swiper-slide {
    width: 100vw!important;
    height: 100vh!important;
}

main .swiper {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0px;
}
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
